.login{
    max-width: 100%;
    background-color: #333;
}
.login-container{
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.login-form{
    max-width:300px;
    background-color: rgb(79, 91, 102);
    padding: 20px;
    text-align: center;
}

.form-input{
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    padding: 10px;
    margin: 5px;
}

span {
    text-align: left;
    margin-left: 10px;
    font-style: oblique;
    font-size: 12px;
}